# node module #
###############
node_modules/
###############

# test coveage result #
#######################
test/coverage
#######################

# sass cache #
##############
.sass-cache/
##############

# log file #
############
*.log
############
